input[type="checkbox"]{
  opacity: 0;
}

.custom-checkbox {
  width: 32px;
  height: 21px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox .checkmark:hover{
  background-color: whitesmoke;
}

.custom-checkbox .checkmark{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 3px;
  background: white;
}

.custom-checkbox input:checked + .checkmark{
  background: url(../../../node_modules/bootstrap-icons/icons/check2.svg) center/100%;
}

.custom-checkbox:has(input:checked) ~ .card-body {
  opacity: 0.3;
}

.task{
  border-top: 1px solid black;
  width: 100%;
}
.task-container {
  width: 100%;
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Adjust the padding as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}